// variables
// --------------------------------------------------

// colors
$trailblazers-red: #cc0000;

// breakpoints
$screen-min: 320px;
$screen-med: 768px;
$screen-lrg: 1024px;

// spacing
$padding: 15px;
